@import '../../marketplace.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 11px 24px 0 24px;
}

.form {
  flex-grow: 1;
}

.title {
  margin-bottom: 5px;
  text-align: center;
  @media (--viewportLarge) {
    margin-bottom: 0px;
    padding: 1px 0 7px 0;
  }
}
.titleSmall {
  font-size: 14px;
  margin-bottom: 25px;
}
