@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --SectionHero_desktopTitleMaxWidth: 625px;

  --SectionHero_animation: {
    animation-name: animationTitle;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

    visibility: hidden;
    opacity: 1;
    position: relative;
  }
}

/* Animation for the hero elements */

@keyframes animationTitle {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -20px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

.root {
  /* @apply --backgroundImage; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* Text positioning is done with paddings */
  /* background: linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
     url(/static/media/background-1440.e7a801de.jpg); 
     url('../../assets/MaleMentor_online.gif'); */

  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));

  background-color: #4a4a4a;
  background-size: cover;
  background-position: center center;
}

.heroContent {
  margin: 240px 0 0;
  z-index: 9;
}

/* .heroMainTitle {
  @apply --marketplaceHeroTitleFontStyles;
  color: var(--matterColorLight);
  margin-top: 85px;

  @apply --SectionHero_animation;
  animation-delay: 0.5s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
  }
} */
.heroMainTitle {
  max-width: none;
  background: #2a364c;
  font-size: 35px;
  text-align: right;
  padding: 18px 40px 25px;
  line-height: 35px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 100px;
}

.heroSubTitle {
  @apply --marketplaceBodyFontStyles;

  color: var(--matterColorLight);
  margin: 0 0 32px 0;

  @apply --SectionHero_animation;
  animation-delay: 0.65s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
    margin: 0 0 63px 0;
  }
}

.heroButton {
  @apply --marketplaceButtonStyles;
  @apply --SectionHero_animation;

  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: block;
    width: 260px;
  }
}

.inlineButtons {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 80px;
  margin-bottom: 50px !important;
}
.inlineButtons button {
  padding: 10px 20px;
  min-width: 35%;
}
.modBtn {
  background-color: #cc814b;

  &:hover,
  &:focus {
    background-color: #bb7746;
  }
}

@media (max-width: 1199px) {
  .inlineButtons button {
    padding: 10px;
    min-width: 40%;
  }
}
@media (max-width: 991px) {
  .inlineButtons {
    margin: 10px 0 0;
    padding: 0 50px;
  }
  .inlineButtons button {
    font-size: 16px;
    min-height: auto;
  }
  .heroMainTitle {
    text-align: center;
  }
  .heroContainer {
    min-height: 430px;
  }
}
@media (max-width: 767px) {
  .inlineButtons button {
    margin: 0 5px 0;
  }
  .inlineButtons {
    padding: 0 10px;
  }
  .heroMainTitle {
    font-size: 30px;
    line-height: 18px;
    margin-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .heroMainTitle {
    font-size: 21px;
  }

  .inlineButtons button {
    margin: 0 0 10px;
  }
  .inlineButtons {
    flex-direction: column;
    margin: 0 0 15px;
  }
  .root {
    background-position: center right;
  }
}

.video {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0px;
}

.videoAlign {
  position: relative;
}
.backvid {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;

  @media (max-width: 1024px) {
    height: 70%;
  }

  @media (max-width: 767px) {
    height: 68%;
  }
}
