@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --LandingPage_sectionMarginTop: 40px;
  --LandingPage_sectionMarginTopMedium: 60px;
  --LandingPage_sectionMarginTopLarge: 94px;
}

.root {
}

/* heroContainer gives the height for SectionHero */
/* Safari has a bug with vw padding inside flexbox. Therefore we need an extra div (container) */
/* If you've lot of content for the hero, multiple lines of text, make sure to adjust min-heights for each media breakpoint accordingly */
.heroContainer {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  height: 67.5vh;
  max-height: 600px;
  padding: 0;

  @media (--viewportMedium) {
    min-height: 500px;
    height: 70vh;
    max-height: none;
  }

  @media (--viewportLarge) {
    /* max-height: 800px; */
    min-height: 100vh;
    height: calc(70vh - var(--topbarHeightDesktop));
  }
}

.hero {
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 32px;

  @media (--viewportMedium) {
    padding-bottom: 50px;
  }

  @media (--viewportLarge) {
    justify-content: flex-end;
    padding-top: 60px;
  }
}

.sections {
  margin: 0;
  padding-top: 1px;
  position: relative;
}

.sections::before {
  content: '';
  position: absolute;
  background-image: url('./cog.png');
  background-position-x: -140px;
  background-size: 35%;
  background-repeat: no-repeat;
  background-position-y: center;

  top: 0;
  left: 0;
  opacity: 0.1;
  display: block;
  width: 100%;
  height: 100%;
}
.section {
  overflow: auto;
}

.welcomeModal p {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

/* Square corners for the last section if it's even */
/* .section:nth-of-type(2n):last-of-type {
  @media (--viewportMedium) {
    border-radius: 4px 4px 0 0;
  }
} */

/* Every other section has a light background */
/* .section:nth-of-type(2n) {
  background-color: var(--matterColorLight);
  @media (--viewportMedium) {
    border-radius: 4px;
  }
} */

.sectionContent {
  margin: var(--LandingPage_sectionMarginTop) 24px 51px 24px;

  @media (--viewportMedium) {
    max-width: 100%;
    margin: var(--LandingPage_sectionMarginTopMedium) 24px 60px 24px;
  }

  @media (--viewportLarge) {
    max-width: 1128px;
    padding: 0 36px 0 36px;
    margin: var(--LandingPage_sectionMarginTopLarge) auto 93px auto;
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
    padding: 0;
  }
}

.sectionContentFirstChild {
  composes: sectionContent;
  margin-top: 3vh;
}

/* A bar on top of light sections */
.section:nth-of-type(2n) .sectionContent::before {
  background: var(--marketplaceColor);
  content: '';
  display: block;
  width: 109px;
  height: 6px;

  /* Place the bar on top of .sectionContent top margin */
  position: relative;
  top: calc(-1 * var(--LandingPage_sectionMarginTop));

  @media (--viewportMedium) {
    width: 192px;
    height: 8px;
    top: calc(-1 * var(--LandingPage_sectionMarginTopMedium));
  }

  @media (--viewportLarge) {
    top: calc(-1 * var(--LandingPage_sectionMarginTopLarge));
  }
}

.scdown {
  &:before {
    display: none !important;
  }
}
.internalLink {
  color: blue;
  cursor: pointer;
}
.internalLink:hover {
  text-decoration: underline;
}
.modalHeader {
  font-style: italic;
  font-size: 1.2rem;
}
.scdtitle {
  margin-top: 0;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -2px;
  margin-bottom: 24px;

  @media (max-width: 575px) {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
}
.scdsteps {
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.scdstep {
  @media (--viewportMedium) {
    width: 324px;
    margin-right: 40px;
  }
}

.scdstep:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.scdstepTitle {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 22px;
  text-align: center;

  /* @media (max-width: 575px) {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  } */
  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}
.scdstep p {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
