@import '../../marketplace.css';

.root {
  @apply --marketplaceModalFormRootStyles;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.workexp {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (max-width: 575px) {
    display: inline-block;
    width: 100%;
    margin: 0;
  }

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}
.workexp .field {
  @media (max-width: 575px) {
    margin-bottom: 15px;
  }
}
.firstNameRoot {
  width: calc(34% - 9px);
}

.lastNameRoot {
  width: calc(66% - 9px);
}

.password {
  @apply --marketplaceModalPasswordMargins;
}

.bottomWrapper {
  @apply --marketplaceModalBottomWrapper;
}
.bottomWrapper button {
  margin-bottom: 10px;
}
.bottomWrapperText {
  @apply --marketplaceModalBottomWrapperText;
}

.termsText {
  @apply --marketplaceModalHelperText;
}

.termsLink {
  @apply --marketplaceModalHelperLink;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.fieldDateInput {
  flex-grow: 1;
}

.weekDay {
  @apply --marketplaceTabNavHorizontalFontStyles;

  /* Layout */
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  padding-bottom: 19px;
  border-top: solid 1px var(--matterColorNegative);

  &:last-child {
    border-bottom: solid 1px var(--matterColorNegative);
  }
}

.fieldWrapper {
  /* This container uses flexbox layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  /* parent aka root is flexbox, this container takes all available space */
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: nowrap;
  padding-bottom: 6px;

  position: relative;
  /* &::before {
    content: '';
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--matterColorNegative);
    z-index: 0;
  } */
}

.formRow {
  /* This container uses flexbox layout */
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* parent aka fieldWrapper is flexbox, this container takes all available space */
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: nowrap;

  z-index: 1;
}

.removeButton {
  margin-top: 24px;
}

.spaceMargin {
  margin-right: 15px;
}
