@import '../../marketplace.css';

.root {
  @apply --marketplaceModalFormRootStyles;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }

  margin-top: 20px;
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.firstNameRoot {
  width: calc(34% - 9px);
}

.lastNameRoot {
  width: calc(66% - 9px);
}

.password {
  @apply --marketplaceModalPasswordMargins;
}

.bottomWrapper {
  @apply --marketplaceModalBottomWrapper;
}

.bottomWrapperText {
  @apply --marketplaceModalBottomWrapperText;
}

.termsText {
  @apply --marketplaceModalHelperText;
}

.termsLink {
  @apply --marketplaceModalHelperLink;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.selectCss {
  /* color: #b2b2b2; */
  border-bottom: 2px solid #ffaa00 !important;
  padding: 4px 0 10px 0 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  margin: 0 0 20px;
}

.selectCss input {
  font-size: 18px !important;
  line-height: 24px;
  padding-bottom: 0;
}

.modlabel {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 35px;
  padding-top: 6px;
  font-size: 0.9rem;
  line-height: 24px;
  color: #1a237e;
}

.btnModSl {
  /* text-align: left; */
  /* margin: 0 0 30px; */
  /* font-size: 16px; */
  color: #0000ff;
  cursor: pointer;

  /* @media (max-width: 767px) {
    margin: 0 0 2px;
  } */
}
.smallText {
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: left;
  width: 90%;
  margin: 30px auto;
}
.updateModalcol {
  padding-top: 50px;
}

.normalText {
  font-size: 20px;
  line-height: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'sofiapro', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.submitButton {
  margin: 35px 0 10px;
}

.customLable {
  font-size: 12px;
  margin-bottom: 0px;
  /* text-align: -webkit-center; */
  line-height: 1.6;
  word-spacing: 10px;
  color: #1a237e;
  margin-top: 50px;
}
