@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --EditListingDescriptionForm_formMargins: {
    margin-bottom: 24px;

    @media (--viewportMedium) {
      margin-bottom: 32px;
    }
  }
}

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}
.btnModSl {
  text-align: left;
  /* margin: 0 0 30px; */
  color: #0000ff;

  @media (max-width: 767px) {
    margin: 0 0 2px;
  }
}

.updateModalcol {
  /* padding-top: 50px; */
}

.title {
  @apply --EditListingDescriptionForm_formMargins;
}

.description {
  @apply --EditListingDescriptionForm_formMargins;
  flex-shrink: 0;
}

.certificate {
  @apply --EditListingDescriptionForm_formMargins;
}

.mentorLanguage {
  @apply --EditListingDescriptionForm_formMargins;
}

.profileTypes {
  @apply --EditListingDescriptionForm_formMargins;
}

.youtubeLink {
  margin-bottom: 32px;
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}
.selectCss {
  /* color: #b2b2b2; */
  border-bottom: 2px solid #ffaa00 !important;
  padding: 4px 0 10px 0 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  margin: 0 0 20px;
}

.selectCss input {
  font-size: 18px !important;
  line-height: 24px;
  padding-bottom: 0;
}
.customLable {
}
.underLine {
  text-decoration: underline;
}
.customSubLable {
  font-size: 0.6rem;
}
.smallTextIns {
  font-size: 0.6rem;
  margin: 0 0 20px;
}
.textColor {
  color: #8e400b;
}
.formHelperIns > div {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.formHelperInsli {
  font-size: 0.7rem;
  @media (--viewportLarge) {
    font-size: 0.7rem;
  }
}
