{{~#*inline 'format-money'~}} {{money-amount money}} {{money.currency}} {{~/inline~}} {{~#*inline
'format-date'~}} {{#with transaction.listing.availability-plan}} {{date date format='h:mm a'
tz=timezone}} on {{date date format='MMM d, YYYY' tz=timezone}} {{/with}} {{~/inline~}} {{~#*inline
'format-day-time'~}} {{#with transaction.listing.availability-plan}} {{date date format='EE h:mm a'
tz=timezone}} {{/with}} {{~/inline~}} {{~#*inline 'format-month-date'~}} {{#with
transaction.listing.availability-plan}} {{date date format='MMM d YYYY' tz=timezone}} {{/with}}
{{~/inline~}}

<html>
  <head>
    <style type="text/css">
      table {
        border-collapse: collapse;
      }
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
        padding-left: 20px;
      }
      .bottom-row > td {
        padding-bottom: 5px;
      }
      .top-row {
        border-top: 1px solid #ccc;
      }
      .top-row > td,
      .top-row > th {
        padding-top: 5px;
      }
    </style>
  </head>
  <!-- flex-cli notifications preview --template process/templates/booking-request-accepted --context process/templates/test.json  -m mentor-test -->
  <body style="font-family: sans-serif;">
    <h1>A Mentoring booking / meeting was accepted!</h1>

    {{#with transaction}}
    <p>
      We are delighted to tell you that {{provider.display-name}} has accepted
      <span style="text-decoration: underline;">a</span> booking / meeting from {{> format-date
      date=booking.start}} to {{> format-date date=booking.end}}. If you have booked other Meetings
      with this Mentor, you will receive a message just like this for each meeting or a message to
      tell you that the Mentor is not available. Look out for these messages in your Try A Mentor
      inbox.
    </p>
    <!-- <p>
      {{provider.display-name}} has accepted your booking request for {{listing.title}} from {{>
      format-date date=booking.start}} to {{> format-date date=booking.end}}.
    </p> -->

    <p>
      We have charged {{> format-money money=payin-total}} from your credit card. Here is your
      receipt.
    </p>

    <table>
      <thead>
        <tr>
          <td class="left">Start date</td>
          <td class="right">End date</td>
        </tr>
        <tr>
          <th class="left">{{> format-day-time date=booking.start}}</th>
          <th class="right">{{> format-day-time date=booking.end}}</th>
        </tr>
        <tr class="bottom-row">
          <th class="left">{{> format-month-date date=booking.start}}</th>
          <th class="right">{{> format-month-date date=booking.end}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each tx-line-items}} {{#contains include-for 'customer'}} {{#eq 'line-item/units' code}}
        {{#if seats}}
        <tr class="top-row">
          <td colspan="2">
            {{> format-money money=unit-price}} &times; {{number units}} {{inflect units 'unit'
            'units'}}
          </td>
        </tr>
        <tr class="bottom-row">
          <td colspan="2">Seats &times; {{number seats}}</td>
        </tr>
        {{else}}
        <tr class="top-row bottom-row">
          <td colspan="2">
            {{> format-money money=unit-price}} &times; {{number quantity}} {{inflect quantity
            'unit' 'units'}}
          </td>
        </tr>
        {{/if}} {{/eq}} {{/contains}} {{/each}}
      </tbody>
      <tfoot>
        <tr class="top-row">
          <th class="left">Total price</th>
          <th class="right">{{> format-money money=payin-total}}</th>
        </tr>
      </tfoot>
    </table>
    <!-- {{#if protected-data.link}}
    <p>Meeting link 1: {{protected-data.link}}</p>
    {{/if}} -->

    <p style="font-weight: 700; color: #032264;">
      What Happens Next / How do I meet with my Mentor?
    </p>
    <p>
      You will meet your Mentor by contacting them at the above start time through the following
      Skype address:
    </p>

    <p style="font-weight: 700; color: #032264;">Mentors Skype address to appear here</p>
    {{#if protected-data.link}}
    <a style="font-size: 30px; font-weight: 700" href="skype:{{protected-data.link}}?chat"
      >Meeting Link</a
    >
    {{else}}
    <p style="font-size:24px; color: blue;">
      Your Mentor has yet to give us their Skype address. Please contact them well before your
      meeting date to request it by signing into TryAMentor.com, clicking on the circle with your
      picture or initials in it (top right hand corner of the screen) and go to your inbox (from
      Mentors). Here you can write messages to your Mentor and in this case ask them to provide
      their Skype address
    </p>
    {{/if}} {{/with}}
    <p>
      Your computer, tablet or mobile phone / cell will need access to effective internet speed
      along with having a camera, speakers, and microphone (they tend to be built into modern mobile
      phones / cells, tablets, and computers).
    </p>
    <p style="font-weight: 700;  color: #032264;">
      A Great Way to Avoid or Solve Problems
    </p>
    <p>
      Before your meeting is scheduled to start, open Try A Mentor, sign-in and go to your Inbox
      (From Mentors). You can type a message to your Mentor to say you are about to connect, and
      they can reply in real time. This way they can offer help if you run into any problems. If you
      are not sure how to get Skype set-up, remember your Mentor is here to help from this point
      forward, so again, through your Try A Mentor inbox, send them messages asking for help and
      combine the advice given with the many 'how to' videos you will find on the internet (just
      google 'how to set up and use Skype').
    </p>
    <p style="font-weight: 700; color: #032264;">Need to Postpone or Cancel the Meeting</p>
    <p>
      Remember you can cancel at no cost up to 48 hours before the meeting but within 48 hours you
      will be charged the full fee with one exception. The exception is, If you book the meeting
      within the 48 hours period (e.g. you book a meeting for the next day) you can get a refund if
      you cancel within 15 minutes of when you made the booking. You can cancel three times a year
      and will receive a full refund but from the fourth time onwards, Try A Mentor reserves the
      right to retain the Try A Mentor administration fee.
    </p>
    <p style="font-weight: 700; color: #032264;">
      Have a wonderful and enriching Mentoring meeting!
    </p>
    <!-- <hr /> -->

    <!-- <p>
      You have received this email notification because you are a member of {{marketplace.name}}. If
      you no longer wish to receive these emails, please contact {{marketplace.name}} team.
    </p> -->
    <footer style="font-family: sans-serif;">
      <div
        style=" width: 100%; margin: 0 auto; border-top: 1px solid #ddd; padding: 20px 0; font-weight: 400;"
      >
        <p style="font-size: 12px; margin: 0 0 20px; color: #7f7f7f; letter-spacing: 1px;">
          You have received this email notification because you are using
          <a target="_blank" href="http://tryamentor.com">TryAMentor.com</a>. If you do not wish to
          receive these e-mail contact us at <a href="#">admin@tryamentor.com</a>.
        </p>

        <p
          style="font-size: 14px; margin: 0 0 20px; color: #2a364c; line-height: 16px; letter-spacing: 1px;"
        >
          Try A Mentor is part of the Beacon <span style="color: #375623">H</span
          ><span style="color: #833c0b">R</span><span style="color: #0070c0">M</span> Group
          consisting of Beacon <span style="color: #375623">Training,</span>
          <span style="color: #833c0b">e</span>Beacon and Beacon
          <span style="color: #0070c0">Talent</span>. Find the Beacon HRM Group in Dublin, New York,
          San Francisco, Auckland and Singapore
        </p>

        <p style="font-size: 12px; margin: 0 0 20px; color: #000; letter-spacing: 1px;">
          The content of this e-mail may be confidential or legally privileged. If you are not the
          named addressee or the intended recipient, please do not copy it or forward it to anyone.
          If you have received this email in error, please destroy it and kindly notify the
          <a href="#">admin@tryamentor.com</a>.
        </p>

        <p style="font-size: 12px; margin: 0 0 20px; color: #000; letter-spacing: 1px;">
          Email cannot be guaranteed to be secure or error-free, it is your responsibility to ensure
          that this email (including attachments) is safe and authorised for use in your
          environment. It is the responsibility of the recipient to ensure that it is virus free and
          no responsibility is accepted by the Beacon HRM Group for any loss or damage arising in
          any way from its use.
        </p>
      </div>
    </footer>
  </body>
</html>
