{{~#*inline "format-date"~}} {{#with transaction.listing.availability-plan}} {{date date
format="h:mm a" tz=timezone}} on {{date date format="MMM d, YYYY" tz=timezone}} {{/with}}
{{~/inline~}}

<html>
  <body style="font-family: sans-serif;">
    <h1>
      We are Sorry, <span style="text-decoration: underline;">a</span> booking / meeting request you
      made has been declined
    </h1>

    {{#with transaction}}
    <p>
      Unfortunately, for <span style="text-decoration: underline;">just</span> this Mentor meeting,
      {{provider.display-name}} had to decline your booking request due to unforeseen circumstances.
      The meeting was to be from {{> format-date date=booking.start}} to {{> format-date
      date=booking.end}}. You have not been billed. If you have booked other Meetings with this
      Mentor, these are not cancelled unless you receive a specific email like this one for each
      meeting. Look out for these messages or Meeting acceptance messages which confirm that your
      requested Meetings are going to happen in your Try A Mentor inbox.
    </p>
    <p>
      You can book a different time with this Mentor or look for an equally as good Mentor on
      TryAMentor.com by clicking the link in blue below". Again, we are sorry and hope this has not
      caused too much inconvenience.
    </p>
    <!-- <p>
      Unfortunately {{provider.display-name}} decided to decline your booking request for
      {{listing.title}} from {{> format-date date=booking.start}} to {{> format-date
      date=booking.end}}. You have not been billed.
    </p> -->
    {{/with}}

    <p><a href="{{marketplace.url}}">To make a new booking click here</a></p>

    <!-- <hr /> -->

    <!-- <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team.</p> -->
    <footer style="font-family: sans-serif;">
      <div
        style=" width: 100%; margin: 0 auto; border-top: 1px solid #ddd; padding: 20px 0; font-weight: 400;"
      >
        <p style="font-size: 12px; margin: 0 0 20px; color: #7f7f7f; letter-spacing: 1px;">
          You have received this email notification because you are using
          <a target="_blank" href="http://tryamentor.com">TryAMentor.com</a>. If you do not wish to
          receive these e-mail contact us at <a href="#">admin@tryamentor.com</a>.
        </p>

        <p
          style="font-size: 14px; margin: 0 0 20px; color: #2a364c; line-height: 16px; letter-spacing: 1px;"
        >
          Try A Mentor is part of the Beacon <span style="color: #375623">H</span
          ><span style="color: #833c0b">R</span><span style="color: #0070c0">M</span> Group
          consisting of Beacon <span style="color: #375623">Training,</span>
          <span style="color: #833c0b">e</span>Beacon and Beacon
          <span style="color: #0070c0">Talent</span>. Find the Beacon HRM Group in Dublin, New York,
          San Francisco, Auckland and Singapore
        </p>

        <p style="font-size: 12px; margin: 0 0 20px; color: #000; letter-spacing: 1px;">
          The content of this e-mail may be confidential or legally privileged. If you are not the
          named addressee or the intended recipient, please do not copy it or forward it to anyone.
          If you have received this email in error, please destroy it and kindly notify the
          <a href="#">admin@tryamentor.com</a>.
        </p>

        <p style="font-size: 12px; margin: 0 0 20px; color: #000; letter-spacing: 1px;">
          Email cannot be guaranteed to be secure or error-free, it is your responsibility to ensure
          that this email (including attachments) is safe and authorised for use in your
          environment. It is the responsibility of the recipient to ensure that it is virus free and
          no responsibility is accepted by the Beacon HRM Group for any loss or damage arising in
          any way from its use.
        </p>
      </div>
    </footer>
  </body>
</html>
