<html>
  <body style="font-family: sans-serif;">
    {{#with transaction}}
    <h1>How was the Mentoring Experience - Please write a review</h1>
    <p>Hi {{provider.display-name}},</p>
    <p>
      You recently worked with {{customer.display-name}} and we would love to capture your
      experience of what it was like working with this person. This information is critical to allow
      future Mentors work with this person successfully but also to allow you to put into context
      any feedback you received from them.
    </p>
    <p>Thanks for you work to-date</p>
    <p>The Try A Mentor team</p>
    <!-- <h1>How was your experience with {{customer.display-name}}? Write a review!</h1> -->
    <!-- <p>
      {{customer.display-name}} recently booked {{listing.title}} from you. Please write
      {{customer.display-name}} a review to describe your experience. Reviews are important part of
      the {{marketplace.name}} community.
    </p> -->
    <!-- 
    <p><a href="{{marketplace.url}}/sale/{{url-encode id}}/details">Leave a review</a></p>
    {{/with}} -->

    <!-- <p>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team.</p> -->
    <footer style="font-family: sans-serif;">
      <div
        style=" width: 100%; margin: 0 auto; border-top: 1px solid #ddd; padding: 20px 0; font-weight: 400;"
      >
        <p style="font-size: 12px; margin: 0 0 10px; color: #7f7f7f; letter-spacing: 1px;">
          You have received this email notification because you are using
          <a target="_blank" href="http://tryamentor.com">TryAMentor.com</a>. If you do not wish to
          receive these emails contact us at <a href="#">admin@tryamentor.com</a>.
        </p>

        <p
          style="font-size: 14px; margin: 0 0 10px; color: #2a364c; line-height: 16px; letter-spacing: 1px;"
        >
          Try A Mentor is part of the Beacon <span style="color: #375623">H</span
          ><span style="color: #833c0b">R</span><span style="color: #0070c0">M</span> Group
          consisting of Beacon <span style="color: #375623">Training,</span>
          <span style="color: #833c0b">e</span>Beacon and Beacon
          <span style="color: #0070c0">Talent</span>. Find the Beacon HRM Group in Dublin, New York,
          San Francisco, Auckland and Singapore
        </p>

        <p style="font-size: 12px; margin: 0 0 10px; color: #000; letter-spacing: 1px;">
          The content of this e-mail may be confidential or legally privileged. If you are not the
          named addressee or the intended recipient, please do not copy it or forward it to anyone.
          If you have received this email in error, please destroy it and kindly notify the
          <a href="#">admin@tryamentor.com</a>.
        </p>

        <p style="font-size: 12px; margin: 0 0 10px; color: #000; letter-spacing: 1px;">
          Email cannot be guaranteed to be secure or error-free, it is your responsibility to ensure
          that this email (including attachments) is safe and authorised for use in your
          environment. It is the responsibility of the recipient to ensure that it is virus free and
          no responsibility is accepted by the Beacon HRM Group for any loss or damage arising in
          any way from its use.
        </p>
      </div>
    </footer>
  </body>
</html>
