@import '../../marketplace.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 11px 24px 0 24px;
}

.form {
  flex-grow: 1;
}

.title {
  margin-bottom: 5px;
  text-align: center;
  @media (--viewportLarge) {
    margin-bottom: 0px;
    padding: 1px 0 7px 0;
  }
}
.titleSmall {
  font-size: 14px;
  margin-bottom: 25px;
  text-align: -webkit-center;
  margin-top: 15px;
}
.link {
  color: #2196f3;
  cursor: pointer;
}
.submitButton {
  margin-top: auto;
  margin-bottom: 24px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}
.headingMain1 {
  color: #2196f3;
  margin-top: 2rem;
}
.headingMain2 {
  color: #ffd54f;
  margin-top: 30px;
}
.textContent {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
